<% content_for :hero do %>
<div class="hero inner-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="intro">
          <h2>Admin<span class="tblue">.</span></h2>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<div class="blog">
  <div class="container">
    <div class="row center">
      <table class="table table-striped">
        <tr>
          <th>#</th>
          <th>Email</th>
          <th>Username</th>
          <th>SignInCount</th>
          <th>Last Login</th>
        </tr>
        <% x = 1 %>
        <% @users.each do |user| %>
          <tr>
            <td><%= x %></td>
            <td><%= user.email %></td>
            <td><%= user.username %></td>
            <td><%= user.sign_in_count %></td>
            <td><%= user.last_sign_in_at.strftime("%d.%m.%y. (%H:%M)") %></td>
            <% x += 1 %>
          </tr>
        <% end %>
      </table>

    </div>

  </div>
</div>