<% content_for :hero do %>
<div class="hero inner-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="intro">
          <h2>My Followers<span class="tblue">.</span></h2>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>


<div class="contact">
  <div class="container">

    <div class="row center" style="margin-top: 20px;">
            <div class="col-md-offset-4 col-md-4 col-sm-4 col-xs-8">
        <div class="sidebar well">
          <div class="widget">
            <h3><%= current_user.username %></h3>
            <%= image_tag(current_user.avatar.url, size: "80") %>
            <ul class="friends-overview">
              <li><%= link_to "Followers: #{current_user.leading_relationships.count}", followers_path %></li>
              <li><%= link_to "Following: #{current_user.following_relationships.count}", friends_path %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row center">
      <div class="col-md4 col-sm-12">
        <%= will_paginate @followers %>
      </div>
    </div>

    <div class="row" style="margin-top:20px;">
      <% if @followers == nil %>
        <div class="col-md-12">
          <h4>Your followers will be listed here:</h4>
        </div>
      <% end %>

      <% @followers.each do |follower| %>
        <div class="col-md-12 col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading"><%= link_to follower.username.capitalize, user_path(follower.username) %></div>
              <div class="panel-body">
                <% if follower.avatar.present? %>
                  <%= link_to image_tag(follower.avatar, size: "60", class: "img-rounded"), user_path(follower.username) %>
                <% else %>
                  <%= link_to image_tag("avatar2.png", size: "60", class: "img-rounded"), user_path(follower.username) %>
                <% end %>
                <%= pluralize(follower.leading_relationships.count, "Follower") %>
              </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="row center">
      <div class="col-md4 col-sm-12">
        <%= will_paginate @followers %>
      </div>
    </div>

  </div>
</div>