<% content_for :hero do %>
<div class="hero inner-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="intro">
          <h2>My Friends<span class="tblue">.</span></h2>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>


<div class="contact">
  <div class="container">
    <div class="row" style="margin-top:20px;">
      <div class="col-md-12">
        <h4>Your friends will be listed here:</h4>
      </div>

      <% @relationships.each do |relationship| %>
        <div class="col-md-6 col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading"><%= link_to relationship.leader.username.capitalize, user_path(relationship.leader.username) %></div>
              <div class="panel-body">
                <% if relationship.leader.avatar.present? %>
                  <%= link_to image_tag(relationship.leader.avatar, size: "60", class: "img-rounded"), user_path(relationship.leader.username) %>
                <% else %>
                  <%= link_to image_tag("avatar2.png", size: "60", class: "img-rounded"), user_path(relationship.leader.username) %>
                <% end %>
                <%= pluralize(relationship.leader.leading_relationships.count, "Follower") %>
                <%= link_to "Unfollow", relationship, method: :delete, class: "btn btn-danger follow-btn" %>
              </div>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>