<% content_for :hero do %>
<div class="hero inner-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="intro">
          <h2>Dashboard<span class="tblue">.</span></h2>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<div class="blog">
  <div class="container">
    <div class="row intro center">
      <div class="col-md-12">
        <div class="formdetails well">
          <%= form_for [Meal.new], html: { class: "form-horizontal", role: "form" } do |f| %>
            <fieldset>
              <div class="form-group">
                <%= f.label :picture, "New meal:", class: "col-lg-2 control-label" %>
                <div class="col-lg-9">
                  <%= f.file_field :picture, class: "form-control" %>
                </div>
              </div>

              <div class="form-group">
                <div class="col-lg-offset-2 col-lg-9">
                  <%= f.submit "Upload", class: "btn btn-primary btn-lg" %>
                  <%= link_to "Reset", upload_path, class: "btn btn-default" %>
                </div>
              </div>
            </fieldset>
          <% end %>
        </div>
      <%# link_to "New Upload", new_meal_path, class: "btn btn-primary btn-lg new-upload" %>
      <h3>Your recent meals:</h3>
      </div>
    </div>
    <div class="row center">
      <% current_user.recent_meals.each do |meal| %>
        <div class="col-md-4 col-sm-12">
          <div class="posts">
            <div class="post-meta">
              <i class="icon-calendar"></i> <%= distance_of_time_in_words_to_now(meal.created_at) %> ago
              <i class="icon-comment"></i><%= link_to pluralize(meal.comments.count, "Comment"), meal %>
            </div>
            <%= link_to image_tag(meal.picture, class: "img-responsive img-thumbnail", size: "300"), meal %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
